NODE_ENV=development
DESIGN_PREVIEW_MODE=false
PORT=4000
FRONTEND_URL=http://localhost:3000
FRONTEND_URLS=http://localhost:5173,https://magnafic.com,https://www.magnafic.com
CERTIFICATE_PUBLIC_URL=http://localhost:5173
BACKEND_PUBLIC_URL=http://localhost:4000
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/lms?schema=public
DIRECT_URL=postgresql://postgres:postgres@localhost:5432/lms?schema=public

FIREBASE_PROJECT_ID=magnafic-3eddc
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-xxxxx@magnafic-3eddc.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"

SANITY_PROJECT_ID=kdugdssj
SANITY_DATASET=production
SANITY_API_VERSION=2024-06-01
SANITY_READ_TOKEN=

VIMEO_ACCESS_TOKEN=
VIMEO_ALLOWED_DOMAIN=localhost
